.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
