/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-;
}
.slick-slide > div {
    margin: 0 10px;
  }
  
  .slick-dots li.slick-active button:before {
    color: orange !important;
  }
  
  .slick-dots-custom li button:before {
    color: white; /* Change color to white */
  }
  